<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selectone.html</title>
</head>
<body>
    <div style="padding: 10px;">
        
        <table border="1">
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>내용</td>
                <td>작성자</td>
                <td>조회수</td>
                <td>등록일자</td>
            </tr>
                <td th:text="${tmp.no}"></td>
        		<td th:text="${tmp.title}"></td>
        		<td th:text="${tmp.content}"></td>
        		<td th:text="${tmp.writer}"></td>
        		<td th:text="${tmp.hit}"></td>
        		<td th:text="${tmp.regdate}"></td>
        	</tr>
            
            <button>수정</button>
            <button>삭제</button>
            <button>이전글</button><a th:href="@{/board/prev(no=${tmp.no})}">이전 글</a>
            <button>다음글</button><a th:href="@{/board/next(no=${tmp.no})}">이전 글</a>
        </table>
        <hr />

       

        <form th:action="@{/board/insertreply(bno=${tmp.no})}" method="post">
            <input type="text" name="board.no" th:value="${tmp.no}"/><br />
        <textarea rows="10" name="content" placeholder="답글작성"></textarea><br />
        <input type="text" name="writer" placeholder="작성자"><br />
        <input type="submit"  placeholder="답글작성"><br />
        </form>
        <hr />
        <h3>답글목록</h3>
        <table border="1">
            <tr th:each="tmp : ${replist}">
                <td th:text="${tmp.no}"></td> 
                <td th:text="${tmp.content}"></td>
                <td th:text="${tmp.writer}"></td> 
                <td th:text="${tmp.regdate}"></td>
            </tr>
        </table>

    </div>
</body>
</html>