<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home.html</title>
</head>
<body>
    <div style="padding: 10px;">
        <h3>로그인 전</h3>
        <div th:if="${useremail == null}">
        <a th:href="@{/member/login}">로그인</a>
        <a th:href="@{/member/join}">회원가입</a>
        
    </div>
        <hr />
        <div th:if="${useremail != null}">
        <h3>로그인 후</h3>
        <p th:text="|${useremail} 님 로그인|"></p>
        <p th:text="|${userrole}|"></p>
        

        <a th:href="@{/customer/home}">구매자 홈</a>
        <a th:href="@{/seller/home}">판매자 홈</a>
        <a th:href="@{/admin/home}">관리자 홈</a>
        <form th:action="@{member/logout}" method="post"><input type="submit" value="로그아웃"></form>
            
    </div>
    </div>
</body>
</html>